* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 1.5;
    background: #eeeeee;
    color: #333333;
    height: 100%;
}

body, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    font-size: 100%;
}

a, a:visited, a:active {
    color: #258;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 120%;
    padding: 8px 6px;
    text-align: center;
}

.DFMEA-pane {
    position:relative;
    height:100%;
}

.node-DesignFunction{
    display: block;
    height:100%;
    border-bottom: 1px solid #333333;
}

.node-DesignFunction-text{
    display: block;
    height:100%;

}
.node-FailureMode-text{
    display: block;
    height:100%;
    padding-left: 3px;
}

.display-DesignFunction{
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height:100%;
}

.DesignFunction-pane {
    display:inline-block;
    vertical-align: top;
    height:100%;
    min-width: 620px;
    border-left: solid 1px #333333;
}

.node-FailureMode{
    display: block;
    height:100%;
    border-bottom: 1px solid #333333;
}

.node-FailureMode:last-child {
    border-bottom: none;
}

.display-FailureMode {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height:100%;
}

.FailureMode-pane{
    display: inline-block;
    height:100%;
    min-width: 500px;
    border-left: 1px solid #333333;
}

.node-FailureEffect-text{
    display: block;
    height:100%;
    padding-left: 3px;
}

.node-FailureEffect{
    display: block;
    height:100%;
    border-bottom: 1px solid #333333;
}

.node-FailureEffect:last-child {
    border-bottom:none;
}

.display-FailureEffect {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height:100%;
}

.FailureEffect-pane{
    display: inline-block;
    height:100%;
    min-width: 380px;
    border-left: solid 1px #333333;
}

.node-FailureCause {
    display: block;
    height:100%;
    border-bottom: 1px solid #333333;
}
.node-FailureCause-text{
    display: block;
    height:100%;
    padding-left: 3px;
}
.node-FailureCause:last-child {
    border-bottom: none;
}

.node-FailureCause:nth-child(2) {
    display:inline-block;
}

.display-FailureCause {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height:100%;
}

.FailureCause-pane {
    display: inline-block;
    height:100%;
    position: relative;
    min-width: 220px;
    border-left: solid 1px #333333;
}

.node-DesignControl {

    display:inline-block;
    border-bottom: 1px solid #333333;
}

.node-DesignControl:last-child {
    border-bottom: none;
}

.display-DesignControl {
    display: inline-block;
    width: 127px;
    border-right: 1px solid #333333 ;

}
.node-DesignControl-text{
    display: block;
    height:100%;
    padding-left: 3px;
}

.DesignControl-pane {
    display: inline-block;
    height:100%;
    position: relative;
    min-width: 60px;
    vertical-align: top;
    }

.node-DET {
    width: 20px;
    min-height: 100%;
    display: inline-block;
    vertical-align: top;
}

.node-SEV-text{
    display: block;
    height:100%;
    padding-left: 3px;
}

.node-OCC-text{
    display: block;
    height:100%;
    padding-left: 3px;
}
.node-OCC {
    min-height: 100%;
    display: block;
}

.node-SEV {
    display: block;
    min-height: 100%;
    vertical-align: top;
}

.SEV-pane {
    display: inline-block;
    height:100%;
    position: relative;
    min-width: 340px;
    border-left: solid 1px #333333;
    }

.OCC-pane {
    display: inline-block;
    height:100%;
    position: relative;
    border-left: solid 1px #333333;
}

.display-SEV {
    vertical-align: top;
    display: inline-block;
    width: 20px;
}

.display-OCC {
    vertical-align: top;
    width: 20px;
    display: inline-block;
}

.display-DET {
    vertical-align: top;
    width: 20px;
    display: inline-block;
}
.DET-pane {
    display: inline-block;
    height:100%;
    position: relative;
    vertical-align: top;
}

.node-DET-text{
    display: block;
    height:100%;
    padding-left: 3px;
    vertical-align: top;
}








#top-tag-filter, #main-pane, #side-pane, #bottom-pane {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#top-tag-filter {
    left: 200px;
    height: 44px;
    bottom: auto;
    background: #ddd;
    border-bottom: 1px solid #999;
}

#help {
    padding: 8px;
}

#main-pane {
    top: 45px;
    bottom: 0;
    left: 50px;
    overflow: auto;
}

#side-pane {
    width: 50px;
    right: auto;
    overflow: auto;
    background: #eee;
    border-right: 1px solid #999;
    background: #ddd;
}

.tag {
    cursor: pointer;
    float: left;
    margin: 5px;
    padding: 2px 7px;
    font-size: 80%;
    font-weight: bold;
    background: #999;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;

    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;

    position: relative;
}

#tag-filter .label {
    float: left;
    margin-top: 9px;
    margin-left: 12px;
    margin-right: 8px;
}

#tag-filter .tag {
    margin-top: 10px;
    border: 1px solid #777;
}

#tag-filter .selected {
    background: #69d;
}

#tag-filter .count {
    font-weight: normal;
    padding-left: 2px;
}

#lists .list {
    padding: 3px 6px;
}

#lists .selected {
    padding: 2px 6px;
    background: #9be;
    font-weight: bold;
}

#lists .list-name {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#createList {
    padding: 3px 6px;
    margin-top: 5px;
}

#createList input {
    width: 180px;
}

#new-node-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 160%;
    position: relative;
    height: 40px;
}

#new-node {
   position: absolute;
   width: 100%;
}

#items-view {
    margin-top: 5px;
    margin-left: 5px;
}

#item-list .node {
    display: block;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

#item-list .node .destroy {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 15px;
    height: 20px;
    width: 20px;
}

#item-list .node .display, #item-list .node .edit {
    margin-left: 30px;
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

#node-input {
    width: 300px;
    position: relative;
    top: -3px;
}

#item-list .done .node-text {
    text-decoration: line-through;
    color: #999;
}

#item-list .node:hover .destroy {
    background: url('/destroy.png') no-repeat 0 0;
}

#item-list .node .destroy:hover {
    background-position: 0 -20px;
}

#item-list .node .item-tags {
    overflow: auto;
    float: right;
    margin-right: 8px;
}

#item-list .node .item-tags .tag {
    margin-top: 15px;
}

#item-list .node .item-tags .removable_tag {
    padding-right: 22px;
}

#item-list .node .item-tags .tag .remove {
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;
    width: 16px;
    background: url("/close_16.png") no-repeat 0 center;
}

#item-list .node .item-tags .tag .remove:hover {
    background-position: -16px center;
}

#item-list .node .item-tags div.addtag {
    background: none;
    color: #333;
    border: 1px dashed #999;
}

#item-list .node .check {
    float: left;
    width: 25px;
}

#item-list .node .node-text {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}

#item-list .node .edit input {
    margin-left: 35px;
}

#edittag-input {
    width: 80px;
}

